apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: port-injector
webhooks:
  - name: "container-mutations.syscallx86.com"
    failurePolicy: "Ignore"
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: In
          values: [ "simple-api" ]
    rules:
      - operations: [ "CREATE"]
        apiGroups: [ "" ]
        apiVersions: [ "v1" ]
        resources: [ "pods" ]
        scope: "Namespaced"
    clientConfig:
      url: https://build.vxland.syscallx86.com:8443/mutate
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUVDekNDQXZPZ0F3SUJBZ0lVYkVncTNEL1RFV1JSTkF5QnZoWm50cHdzY3lrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1dURUxNQWtHQTFVRUJoTUNRMW94RHpBTkJnTlZCQWNNQmxCeVlXZDFaVEVUTUJFR0ExVUVDZ3dLVTNsegpZMkZzYkZnNE5qRWtNQ0lHQTFVRUF3d2JZblZwYkdRdWRuaHNZVzVrTG5ONWMyTmhiR3g0T0RZdVkyOXRNQjRYCkRUSTFNVEV4TVRFeU5UZ3hPRm9YRFRNMU1URXdPVEV5TlRneE9Gb3dXVEVMTUFrR0ExVUVCaE1DUTFveER6QU4KQmdOVkJBY01CbEJ5WVdkMVpURVRNQkVHQTFVRUNnd0tVM2x6WTJGc2JGZzROakVrTUNJR0ExVUVBd3diWW5WcApiR1F1ZG5oc1lXNWtMbk41YzJOaGJHeDRPRFl1WTI5dE1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBCk1JSUJDZ0tDQVFFQTJIbm96aU1DWDFMMXFZQWVZNmpiczZ1RlY2bitoeWNVS0VlOHJYVXFOVXJPTTBSSVNmLzAKQ0JRbWYxR1RGcGdqeDBQMVhPSFp0VlFmSjAyNXl0TkdVTHNldlJDbVV3eDBlbHI0emdWOFdwZXFRUUNWWE9LVgpjZ0JMM2lZNCsyQ3VPKzcxSFVDSlVLckUxa3ZDVmdNQldMMUdyMWk3WjFzbzlYM2F5VDkwbEd0aWQwb2JrZ3JiCmEyM3Yzb3VjUUxFUDl1U1lDcFA1MkFUNlhGVGQvSnhLMm9IZmJiUGFDemVkeENnc2pVSkNrUXd3Mkp5SnhjdEIKdVZ6UExrNGp4dThWYTRobFljYXpYaVhxTFYzRURvc0NQWGsvOU5scW9JL1d6UU5DQXlMTytqeGRSeWlIMjRCTwpJT2dJN3RsRFpURDdxeHdxUGF1a2R3YnMrSWN4b2h4aDR3SURBUUFCbzRIS01JSEhNQjBHQTFVZERnUVdCQlNaCnFrL0p4bnRzL1JYRFliWFpvOFZXc3NPOE16QWZCZ05WSFNNRUdEQVdnQlNacWsvSnhudHMvUlhEWWJYWm84VlcKc3NPOE16QVBCZ05WSFJNQkFmOEVCVEFEQVFIL01IUUdBMVVkRVFSdE1HdUNHMkoxYVd4a0xuWjRiR0Z1WkM1egplWE5qWVd4c2VEZzJMbU52YllJTGQyVmlhRzl2YXk1emRtT0NHWGRsWW1odmIyc3VjM1pqTG1Oc2RYTjBaWEl1CmJHOWpZV3lDRHlvdVkyeDFjM1JsY2k1c2IyTmhiSUlUS2k1emRtTXVZMngxYzNSbGNpNXNiMk5oYkRBTkJna3EKaGtpRzl3MEJBUXNGQUFPQ0FRRUFHcHJkYUVINVAyYVJKc2lORkdIdXlsOW1LMkp2UFd3V3p0Q3R1TU9WN0VkMQpoTDFsOWIyYUdEWlBTSzBWaXVRUlpRTURnZ1k2MWVmZXBCQ2o2U1JlRUdQNFhkazFnMUVoRzg2V2V0eTBqQXRjCjRwdTE3L3lDbWF2SDBLWVRSMU82RExHSmRZWmhKSkdiZ09PcEd3NzVaTWJVbzM2V3FXZnB5eXhzY3Jqa3NGVDgKQjJjRGdlU0k5aWwwbStleGRTRExZL3pza0JoSGVkVjhaaTF4cG9JTzZiV1lqMStLZVZORUUwZW40SnVHSkJJNQpGLzNZVmFLTCtQYzAxT2pDcGFLSUU0dXFNQm10TVJ1bDM5VExkSnVsZ1J3MkVRdTNWRlhaakhUeHFwYlVYRlhICmVjOU1sYUgrTUtSWmVkNEttTG9Gc08xSmtpTEM3YkhZYzhBK1IrY0Z1Zz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K 
    admissionReviewVersions: ["v1"]
    sideEffects: None
    timeoutSeconds: 5
